*{
    font-family: 'Fraunces', 'serif';
    color:white;
}

body{
    margin: 0;
    background-color: rgb(244, 211, 216);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculadora{
    display: grid;
    grid-template-columns: repeat(4, 75px);
    grid-template-rows: 160px repeat(5,75px);
    background-color: rgb(247, 179, 190);
    padding: 15px;
    border-radius: 32px;
    box-shadow: 15px 10px 0 5px #00000033;
}

button{
    cursor: pointer;
    margin: 5px;
    padding: 0;
    border-radius: 32px;
    font-size: 1.5em;
    border: none;
    background-color: rgb(247, 179, 190);
    box-shadow: 5px 5px 10px -3px #00000040, -5px -5px 15px 3px rgb(247, 179, 190);
}

button:active{
    background-color: rgb(241, 156, 170);
}

button:focus{
    outline: none;
}

.display{
    grid-column: 1/-1;
    padding: 16px;
    display: flex;
    margin: 10px 10px 20px;
    flex-direction: column;
    align-items: flex-end;
    background-color: #363636;
    border-radius: 32px;
    text-align: right;
    justify-content: space-between;
    word-break: break-all;
    box-shadow: 0px 0px 0px 10px #00000033;
}

.col-2{
    grid-column: span 2;
}

#valor-actual{
    font-size: 1.5em;
}

#valor-anterior{
    font-size: 2em;
}